{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/tabler-ui/dist/assets/css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container my-5">

        <div class="row justify-content-md-center">
            <div class="col col-lg-6">

                <div class="card">
                    <div class="card-body">

                        <h1>{{ app_name }}</h1>
                        <hr>

                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-info">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}

                        {{ form(form) }}

                        <hr>
                        <a href="{{ path('homepage') }}">{{ 'Home page' | trans }}</a>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}
