{% extends 'base.html.twig' %}

{% block body %}
    <div class="app-container py-5">
        <div class="container pt-md-5">

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="card card-body mt-5 bg-white-transp rounded">

                        <h1 class="text-center">{{ 'Video Slide Show Maker' | trans }}</h1>

                        <app-root><div id="page-preloader" class="loading"></div></app-root>

                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('bundle/styles.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        var appSettings = {
            appName: '{{ app_name }}',
            webApiUrl: '{{ app.request.baseUrl }}',
            environment: '{{ app.environment }}',
            locale: '{{ app.request.getLocale() }}',
            displayLanguageSwitch: {% if display_language_switch %}true{% else %}false{% endif %},
            displayHomepageVideo: {% if display_homepage_video %}true{% else %}false{% endif %},
            displayHomepageFeatures: {% if display_homepage_features %}true{% else %}false{% endif %},
            languages: {{ languages | json_encode | raw }}
        };
    </script>
    <script type="text/javascript" src="/assets/i18n/{{ app.request.getLocale() }}.js?v={{ app_version }}"></script>
    {% if app.environment == 'prod' %}
        <script type="text/javascript" src="{{ asset('bundle/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle/polyfills.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle/main.js') }}"></script>
    {% else %}
        <script type="text/javascript" src="{{ asset('bundle-dev/runtime.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle-dev/polyfills.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle-dev/styles.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('bundle-dev/styles.css') }}">
        <script type="text/javascript" src="{{ asset('bundle-dev/scripts.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle-dev/vendor.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundle-dev/main.js') }}"></script>
    {% endif %}
{% endblock %}