{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% if app.environment == 'prod' %}
        <link href="{{ asset('bundle/styles.css') }}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block body %}
    <main role="main" class="container">
        
        <div class="my-5" style="min-height: 400px;">
            <div class="card bg-white-transp rounded">
                <div class="card-body">
                    <div class="min-height400">
                        <h1>404 - {{ 'Page not found' | trans }}</h1>

                        {% if message is defined and message is not empty %}
                            <div class="alert alert-danger">{{ message }}</div>
                        {% endif %}
                        
                        <div>
                            <a href="{{ path('homepage') }}">{{ 'Home page' | trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
{% endblock %}

